name: Release

on:
  push:
    tags:
      - v*

env:
  RUST_BACKTRACE: 1
  CARGO_TERM_COLOR: always

jobs:
  build:
    strategy:
      matrix:
        target:
          - x86_64-unknown-linux-musl
          - x86_64-pc-windows-msvc
          - universal2-apple-darwin
        include:
          - target: x86_64-unknown-linux-musl
            os: ubuntu-latest
          - target: x86_64-pc-windows-msvc
            os: windows-latest
          - target: universal2-apple-darwin
            os: macos-latest
            rust-targets: x86_64-apple-darwin,aarch64-apple-darwin

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v5

      - name: setup Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ matrix.rust-targets || matrix.target }}

      - name: Setup cache for Rust
        uses: Swatinem/rust-cache@v2

      - name: Setup Zig
        if: runner.os != 'Windows'
        uses: goto-bus-stop/setup-zig@v2

      - name: Install cargo-zigbuild
        if: runner.os != 'Windows'
        run: |
          cargo install cargo-zigbuild

      - name: Compile
        if: runner.os != 'Windows'
        run: |
          cargo zigbuild --release --target ${{ matrix.target }}
          mv ./target/${{ matrix.target }}/release/smpt ./smpt-${{ matrix.target }}

      - name: Compile (Windows)
        if: runner.os == 'Windows'
        run: |
          cargo build --release --target ${{ matrix.target }}
          Move-Item ./target/${{ matrix.target }}/release/smpt.exe ./smpt-${{ matrix.target }}.exe

      - name: Upload an artifact
        uses: actions/upload-artifact@v5
        with:
          name: release-${{ matrix.target }}
          path: |
            ./smpt-${{ matrix.target }}
            ./smpt-${{ matrix.target }}.exe

  publish:
    needs: [build]

    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Download all artifacts
        uses: actions/download-artifact@v6

      - run: find

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: release-*/*
          name: ${{ env.TAG }}
          token: ${{ secrets.GITHUB_TOKEN }}
